openapi: 3.0.0
info:
  title: 'Saras API'
  description: 'Example E-Commerce API'
  version: 1.0.0
servers:
  -
    url: 'http://localhost:3000/'
    description: 'localhost with docker'
paths:
  /auth/login:
    post:
      tags:
        - auth
      summary: 'Login to system'
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth'
        '404':
          description: 'Not found'
  /users/register:
    post:
      tags:
        - auth
      summary: 'Register to system'
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth'
        '404':
          description: 'Not found'
components:
  schemas:
    Login:
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: example@example.com
        password:
          type: string
          format: password
          example: example
      type: object
    User:
      required:
        - email
        - username
        - name
        - address
        - phone
        - password
      properties:
        id:
          type: integer
          format: int64
          example: '1'
        email:
          type: string
          format: email
          example: example@example.com
        username:
          type: string
          example: example
        name:
          type: string
          example: example
        address:
          type: string
          example: 'example street'
        phone:
          type: string
          example: '02100000'
        password:
          type: string
          format: password
          example: example
      type: object
    Auth:
      properties:
        email:
          type: string
          format: email
          example: example@example.com
        token:
          type: string
          example: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c'
      type: object
